:root {
  --branding-color: #d972ff;
  --secondery-color: #8447ff;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  font-weight: 400;
  color: #fff;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 75px;
  color: #ffb2e6;
}

p {
  font-weight: 400;
}

.hero {
  background: var(--secondery-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 25px;
  margin: 0;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-primary {
  background: var(--branding-color);
  border: none;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
